<h2>About Super Forum</h2>

<p>The Super Forum website was created to explore the wonderful world of Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

{{#link-to 'index'}}Homepage{{/link-to}} |
{{#link-to 'contact'}}Contact Us{{/link-to}} |
