<h1> Welcome to Super Forum </h1>
<ul>
  {{#each model as |topic|}}
    {{topic-tile topic=topic}}
  {{/each}}
</ul>

{{add-topic saveTopic="saveTopic"}}


{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'contact'}}Contact Us{{/link-to}} |
